.footer {
   &__body {
      padding: 15px 0 22px;
      border-top: 2px solid $color-black;
      display: flex;
      gap: 25px;
      align-items: center;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         bottom: -75px;
         left: 120px;
         width: 164px;
         height: 164px;
         border-radius: 50%;
         box-shadow: 0px 0px 22.08px 0.92px rgba(0, 0, 0, 0.13);
      }
      &::after {
         content: "";
         position: absolute;
         z-index: 3;
         top: -138px;
         transform: translateY(100%);
         right: 23px;
         width: 37px;
         height: 37px;
         border-radius: 50%;
         box-shadow: 0px 0px 22.08px 0.92px rgba(0, 0, 0, 0.13);
      }
   }
   &__logo {
      display: block;
      max-width: 103px;
      max-height: 138px;
   }
}
.actions-footer {
   flex: 0 0 math.div(560, 1000) * 100%;
   margin-left: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
   &__app {
   }
}
.social-footer {
   display: flex;
   align-items: center;
   &__link {
      width: 56px;
      height: 56px;
      display: grid;
      place-items: center;
      position: relative;
      border: 2px solid $color-black;
      &:not(:last-child) {
         margin-right: 6px;
      }
      &::before {
         content: "";
         width: 24px;
         height: 24px;
         background-repeat: no-repeat;
         background-position: center;
      }
   }
   &__link--vk {
      &::before {
         background-image: url("../images/icons/vk.svg");
      }
   }
   &__link--telegram {
      &::before {
         background-image: url("../images/icons/tg.svg");
      }
   }
}
.footer-app {
   position: relative;
   &__button {
      @include gradient;
      width: 313px;
      display: flex;
      align-items: center;
      min-height: 56px;
      padding: 2px;
      cursor: pointer;
   }
   &__icon {
      width: 55px;
      height: 100%;
      display: grid;
      place-items: center;
      &::before {
         content: "";
         display: block;
         background-image: url("../images/icons/gl.svg");
         background-repeat: no-repeat;
         background-size: 48px 48px;
         width: 48px;
         height: 48px;
      }
   }
   &__text {
      font-family: "Montserrat", sans-serif;
      flex: 1 1 auto;
      display: grid;
      place-items: center;
      background: $color-white-light;
      min-height: 52px;
      height: 100%;
      font-size: 13px;
      line-height: 21px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
   }
}
.install-app {
   &.hidden {
      display: none;
   }
}
