// размеры шрифтов
$size_big: 32px;
$size_main: 16px;
$size_small: 14px;

// 
$color-black: #000;
$color-white: #fff;
$color-red: #fc284b;
$color-red-dark: #942b33;
$color-red-light: #e23c5f;
$color-yellow: #e79d25;
// 
$color-main: blue;
$color-main-light: light(blue, 10%);

// 
$color-gray-dark: #bebebe;
$color-gray-light:#919191;
