footer.footer
	div.container
		.footer__body 
			a.footer__logo(href="/")
				img(src="images/icons/logo.png", alt="")
			.footer__actions.actions-footer
				.actions-footer__social.social-footer
					a(href="#" target="_blank").social-footer__link.social-footer__link--vk
					a(href="#" target="_blank").social-footer__link.social-footer__link--telegram
				.actions-footer__app.footer-app
					button.footer-app__button
						span.footer-app__icon
						span.footer-app__text Установить приложение
