form.form
	if formTitle
		.form__title!= formTitle
	.form__inner 
		.form__column
			.form__item 
				input(class="form__input" type="text" placeholder="Имя" name="name")
			.form__item 
				input(class="form__input" type="text" placeholder="Телефон" name="phone")
			.form__item 
				input(class="form__input" type="email" placeholder="E-mail" name="email")
		.form__column
			.form__item 
				textarea(class="form__textarea" placeholder="Сообщение" name="message")
	.form__text Отправляя форму, вы соглашаетесь с 
					a(href="politic.html" target="_blank") политикой конфиденциальности
					|&nbsp;и&nbsp;
					a(href="politic.html" target="_blank") обработкой персональных данных
	button(type="submit" class="form__button") Отправить