header.header#header
	div.container
		.header__body
			div.header__menu.menu-header
				nav.menu
					ul.menu__list(data)
						each item in menuLeft
							li(class=item.title==pageTitle?"active":"")
								span.hover-border
								a.menu__link(href=item.link)= item.title
					button.menu__button(data-da=".menu-header, 900, 0" id="playRadio")
						span.menu__button-icon
						span.menu__button-text
							span Слушать эфир
							span Остановить
					ul.menu__list.menu__list-right
						each item in menuRight
							li(class=item.title==pageTitle?"active":"")
								span.hover-border
								a.menu__link(href=item.link)= item.title
				.menu-header__icon 
					span

