div.graph-modal
	.graph-modal__container(role="dialog" aria-modal="true" data-graph-target="notice")
		button(class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно")
		div(class="graph-modal__content")
			
