.player
   .player-container.container
      audio(class="player-audio" controls)
         source(src="https://radio-dedic-7183.dline-media.com/stream?v=1656419458898" type="audio/mpeg")
      button(type="button" class="player__button" id="closeRadio") Закрыть