.player
   .player-container.container
      audio(class="player-audio" controls)
         source(src="https://stream.live-fm.ru:8443/gorkylive" type="audio/mpeg")
      button(type="button" class="player__button" id="closeRadio") Закрыть
      //- input(id="seekslider" type="range" min="0" max="100" value="0" step="1")