.empty-page{
   padding: 50px 0 50px;
   & .page-title {
      padding: 12px 0 0;
      margin-bottom: 14px;
   }
   &__button{
      @include gradient;
      background-color: transparent;
      border-radius: 20px;
      color: $color-white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: 13px;
      font-weight: 700;
      min-height: 40px;
      justify-content: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      max-width: 300px;
   }
}