.programm {
   padding: 28px 0 28px;
   font-family: "TT Norms";
   &__body {
      position: relative;
      background: $color-gray-light;
      &::before {
         content: "";
         position: absolute;
         z-index: 4;
         top: 34px;
         left: 0;
         width: 100%;
         height: 98px;
         background: $color-red-dark;
      }
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 34px;
         background: $color-white-light;
      }
   }
   &__wrapper {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         z-index: 1;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 80px;
         background: $color-white-light;
      }
      &.gray-line {
         &::before {
            background: $color-gray-light;
         }
      }
   }
}
.programm-heading {
   text-align: center;
   padding-bottom: 7px;
   position: relative;
   z-index: 5;
   &__label {
      font-weight: 400;
      margin-right: 5px;
   }
   &__name {
      font-weight: 600;
   }
}
.slider-programm {
   position: relative;
   z-index: 4;
   &__controls {
      min-height: 62px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-black;
      position: relative;
      z-index: 2;
      padding: 0 20px;
      max-width: 490px;
      margin: 20px auto 0;
   }
   &__arrow {
      height: 25px;
      width: 61px;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center;
      background-size: 61px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }
   &__pagination {
   }
}
.slider-home {
   max-width: 647px;
   margin: 0 auto;
   @include border-gradient;
   border-width: 2px;
   border-style: solid;
   // padding: 0 70px;
   border-image-slice: 1;
   overflow: hidden;
   position: relative;
   display: flex;
   padding: 2px;
   &__body {
   }
   &__wrapper {
      align-items: flex-start;
   }
   &__item {
      flex: 1 0 auto;
      background: $color-white-light;
      padding: 12px 88px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 18px;
   }
   &__button {
      width: 63px;
      flex: 0 0 63px;
      background-image: url("../images/icons/arrow2.svg");
      background-repeat: no-repeat;
      background-size: 44px 28px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-position: 100% 50%;
      cursor: pointer;
      &-prev {
         background-color: #fc284b;
      }
      &-next {
         transform: scaleX(-1);
         background-color: #e79d25;
      }
   }
}
.slider-programm.disabled {
   & .slider-programm__wrapper {
      flex-flow: row wrap;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      gap: 20px;
   }
   & .programm-item {
      &:not(:last-child) {
         margin-right: 20px;
      }
   }
   & .slider-programm__controls {
      display: none;
   }
}
.programm-item {
   display: flex;
   flex-direction: column;
   width: 235px;
   flex-grow: 1;
   &__image {
      position: relative;
      // padding-bottom: math.div(171, 235) * 100%;
      padding-bottom: 100%;
      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
   &__top {
      display: flex;
      flex-direction: column;
      height: 100%;
   }
   &__body {
      background: $color-white;
      padding: 12px 18px 65px 24px;
      flex: 1 1 auto;
   }
   &__title {
      font-weight: 700;
      color: $color-red-light;
      margin-bottom: 10px;
   }
   &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
   }
   &__footer {
      font-family: "TT Norms";
      font-weight: 500;
      padding: 13px 7px 13px 23px;
      color: $color-white;
      font-weight: 500;
      margin-top: auto;
      background: $color-gray-light;
      min-height: 74px;
   }
   &__time {
      & span {
         position: relative;
         display: block;
         min-height: 20px;
         padding-left: 50px;
         background: url("../images/icons/clock.svg");
         background-size: 20px 20px;
         background-repeat: no-repeat;
         background-position: 0 50%;
      }
   }
}
.swiper-pagination-bullets {
   display: flex;
   align-items: center;
   & .swiper-pagination-bullet {
      display: block;
      width: 12px;
      height: 12px;
      border: 3px solid $color-black;
      border-radius: 50%;
      background: $color-white;
      cursor: pointer;
      &:not(:last-child) {
         margin-right: 22px;
      }
      &.swiper-pagination-bullet-active {
         border: none;
      }
   }
}
.arrow-prev {
   background-image: url("../images/icons/arrow.svg");
}
.arrow-next {
   background-image: url("../images/icons/arrow.svg");
   transform: rotate(180deg);
}
