extends layout.pug

block variables
	- var pageTitle = "Сотрудничество"
block content
	section.cooperation
		.container 
			h1.cooperation__title.page-title <span>ГОРЬКИЙ LIVE</span> РАДИО
		.cooperation__body 
			.cooperation__items
				.container
					each item, index in cooperation
						.cooperation__item.item-cooperation
							.item-cooperation__icon 
								img(src=`images/icons/cooperation-${index+1}.png`, alt="")
							.item-cooperation__text!= item.text
			.cooperation__form-wrapper.container
				include blocks/form
				button(data-graph-path="first") Кнопка
