extends layout.pug

block variables
	- var pageTitle = "Главная"
block content
	section.home
		.container
			.home__body
				h1.home__title 
					span RADIO
				.home__image
					img(src="images/banner.png", alt="")
				.home__text.
					Единственное <strong>live радио</strong> в россии