extends layout.pug

block variables
	- var pageTitle = "Главная"
block content
	section.home
		.container
			.home__body
				h1.home__title 
					span RADIO
				.home__image
					img(src="images/banner.png", alt="")
				.home__text.
					Единственное <strong>live радио</strong> в россии
			.home__slider.slider-home 
				button.slider-home__button.slider-home__button-prev
				.slider-home__body._swiper
					.slider-home__wrapper._swiper-wrapper
						each item in home
							.slider-home__item
								span= item.text
				button.slider-home__button.slider-home__button-next
