extends layout.pug

block variables
	- var pageTitle = "Обработка персональных данных"
block content
	.text-page
		.container
			.text-page__title.page-title!= pageTitle
			a(href="/").text-page__button Вернуться на главную