extends layout.pug

block variables
	- var pageTitle = "Политика конфиден&shy;циальности"
block content
	.politic
		.container
			h1.politic__title.page-title!= pageTitle
		.politic__wrapper
			.container
				.politic__body 
					.politic__text Правила защиты информации, содержащей персональные данные
					ol.politic__list
						li <strong>Общие положения</strong>
							ol
								li Настоящие Правила защиты информации, содержащей персональные данные (далее - «Правила»), определяют порядок обработки и защиты информации, содержащей персональные данные физических лиц (далее – «Пользователи»/ «Пользователь») во время использования сайта горькийлайв.рф (далее – Сайт) и мобильной версии сайта горькийлайв.рф
								li Действующая редакция Правил доступна Пользователю при переходе по ссылке http://горькийлайв.рф/politika-konfidenczialnosti. Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по адресу http://горькийлайв.рф/politika-konfidenczialnosti
								li Использование Сайта означает безоговорочное согласие Пользователя с настоящими Правилами и указанными в них условиями обработки его персональных данных.
								li В случае несогласия Пользователя с условиями настоящих Правил использование Сайта должно быть немедленно прекращено
						li <strong>Конфиденциальность персональных данных Пользователя</strong>
							ol 
								li Администрация Сайта, действуя разумно и добросовестно, считает, что Пользователь
									ul 
										li - указывает достоверную информацию о себе в объемах, необходимых для пользования Сайтом;
										li - ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.
								li Администрация Сайта не проверяет достоверность персональных данных, предоставляемых Пользователем, и не имеет возможности оценивать его дееспособность. Администрация Cайта исходит из того, что Пользователь предоставляет достоверные и достаточные персональные данные и поддерживает их в актуальном состоянии. Администрация Сайта не несет ответственности за последствия предоставления Пользователем недостоверной или недостаточной информации.
								li Настоящие Правила применимы только к информации, обрабатываемой в ходе использования Сайта. Администрация Сайта не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным внутри Сайта.
						li <strong>Категории персональных данных</strong>
							ol 
								li Категории персональных данных, которые Администрация Сайта может собирать у Пользователей:
									ul 
										li - имя Пользователя;
										li - адрес электронной почты Пользователя;
										li - номер телефона Пользователя;
						li <strong>Цели сбора и обработки персональных данных Пользователя</strong>
							ol 
								li Администрация Сайта собирает и хранит только те персональные данные Пользователя, которые необходимы для предоставления полного или частичного функционала Сайта, за исключением случаев, когда действующим законодательством РФ предусмотрено обязательное хранение персональных данных в течение определенного законом срока.
								li Администрация Сайта обрабатывает персональные данные Пользователя в целях исполнения договора между Администрацией Сайта и Пользователем, предметом которого является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта, его функционала.
								li Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
								li В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных функций Сайта Пользователь соглашается с тем, что определённая часть информации о нем становится общедоступной.
						li <strong>Передача персональных данных</strong>
							ol 
								li Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами и действующим законодательством РФ.
								li В целях исполнения соглашения между Пользователем и Администрацией Сайта и предоставления Пользователю доступа к использованию функционала Сайта,  Администрация Сайта разрабатывает и внедряет новые сервисы, выполняет обезличенные статистические вычисления, оптимизирует качество сервисов, совершенствует доступный функционал Сайта. Для обеспечения реализации указанных целей Пользователь соглашается на осуществление Администрацией Сайта с соблюдением действующего законодательства РФ обработки персональных данных - сбора, записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения, использования, передачи (распространения, предоставления, доступа), обезличивания, блокирования, удаления, уничтожения персональных данных.
						li <strong>Изменение и удаление персональных данных</strong>
							ol 
								li Пользователь может в любой момент изменить (обновить, дополнить) предоставленные им персональные данные полностью или в части, воспользовавшись функцией редактирования персональных данных в персональном разделе Сайта.
								li Для удаления своих персональных данных с Сайта, Пользователь должен обратиться с соответствующим запросом на адрес электронной почты Администрации Сайта 
									a(href="mailto:info@gorkiylive.ru") info@gorkiylive.ru.
						li <strong>Меры по защите персональных данных</strong>
							ol 
								li Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
						li <strong>Ограничение действия Правил</strong>
							ol
								li Действие настоящих Правил не распространяется на действия третьих лиц и сайты в сети Интернет, принадлежащие третьим лицам.
								li Администрация Сайта не несет ответственности за действия третьих лиц, получивших в результате использования сети Интернет доступ к информации о Пользователе, и за последствия использования такой информации.
						li <strong>Применимое право и разрешение споров</strong>
							ol 
								li Настоящие Правила составлены в соответствии с законодательством РФ. Вопросы, не урегулированные настоящими Правилами, подлежат разрешению в соответствии с действующим законодательством РФ. Все возможные споры, вытекающие из отношений, регулируемых настоящими Правилами, разрешаются в порядке, установленном действующим законодательством РФ, по нормам российского права.
								li Настоящие Правила предусматривают обязательный досудебный порядок урегулирования споров, вытекающих из условий применения настоящих Правил. Досудебный порядок урегулирования споров заключается в направлении Пользователем Администрации Сайта претензии на адрес электронной почты Администрации Сайта 
									a(href="mailto:info@gorkiylive.ru") info@gorkiylive.ru.
								li Полученная от Пользователя Администрацией Сайта претензия подлежит рассмотрению в течение 10 (десяти) рабочих дней с даты получения. После рассмотрения полученной претензии Администрация Сайта в письменной форме сообщает Пользователю о результатах рассмотрения его претензии. Ответ Администрации Сайта направляется способом, аналогичным способу получения претензии от Пользователя.
					a(href="/").politic__button Вернуться на главную
