-
	var versionFiles = 0,
	menuLeft = [
		{	
			"title": "Главная",
			"link": "/",
		},
		{	
			"title": "Программы",
			"link": "programm.html",
		},
	],
	menuRight = [
		{	
			"title": "Города",
			"link": "city.html",
		},
		{	
			"title": "Сотрудничество",
			"link": "cooperation.html",
		},
	],
	programms = [
		{
			"title": "Виниловые игры",
			"text": "Эти треки вы вряд ли найдёте в интернете. Но слушатели Рандеву теперь смогут услышать их. Нижегородские коллекционеры винила и меломаны ставят их каждую среду и пятницу. Настраивайте свои приемники на музыку, которую вы нигде больше нигде не услышите.",
			"time": "будни, 20:00"
		},
		{
			"title": "Архитектура звука",
			"text": "MISH - альтер эго архитектора из Нижнего Новгорода, героя проекта ARCHPRT, создателя MISH studio и ночного клуба ТОК – Миши Маслова. Его выступления редки и по энергетике больше напоминают рок-концерт. MISH безумен и эклектичен.",
			"time": "выходные, 18:00"
		},
		{
			"title": "Культ города",
			"text": "Обзор культурных событий Нижнего Новгорода, России и мира – концерты, выставки, театральные события. Приглашение в эфир экспертов. Тематичные эфиры.",
			"time": "пн, ср, пт, 12:00"
		},
		{
			"title": "Игорь Престолов",
			"text": "Авторское шоу Игоря Преображенского в формате интервью с известными людьми Нижнего Новгорода.",
			"time": "пн, ср, пт, 12:00"
		},
		{
			"title": "Игорь Престолов",
			"text": "Авторское шоу Игоря Преображенского в формате интервью с известными людьми Нижнего Новгорода.",
			"time": "пн, ср, пт, 12:00"
		},
		{
			"title": "Игорь Престолов",
			"text": "Авторское шоу Игоря Преображенского в формате интервью с известными людьми Нижнего Новгорода.",
			"time": "пн, ср, пт, 12:00"
		},
	],
	cooperation = [
		{
			"text": "Первое в России LIVE радио",
		},
		{
			"text": "Шоу, подкасты, эксклюзив и классная музыка",
		},
		{
			"text": "Сделано профессионалами, сделано для всех",
		}
	]